<!DOCTYPE html>
<html>

<head>
    <title>After School Club</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="manifest" href="lessonstore.webmanifest">

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js');
        };
    </script>
</head>

<body>

    <div id="app" class="text-center mr-5 ml-5">
        <div id="shop">
            <div class="row m-2">
                <div class="col-10">
                    <h1 class="text-center">{{title}}</h1>
                </div>
                <div class="col-2">
                    <div v-if='productPage'>
                        <button v-on:click="showCheckout" class="btn btn-block btn-success">
                            <!-- 'cartitemcount' is used the same way as a data property -->
                            {{ cartItemCount }}
                            <!-- add the cart icon -->
                            <span class="fas fa-cart-plus"></span> Checkout
                        </button>
                    </div>
                    <div v-else>
                        <button v-on:click="showCheckout" class="btn btn-block btn-success">
                            <!-- 'cartitemcount' is used the same way as a data property -->
                            {{ cartItemCount }}
                            <!-- add the cart icon -->
                            <span class="fas fa-cart-plus"></span> Products
                        </button>
                    </div>
                </div>
                
            </div>
            
            <!-- FIRST ROW -->
            <div class="row mt-5">
                <div class="col-4">
                    <div class="card">
                        <img v-bind:src="lesson.img" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{lesson.subject}}</h5>
                            <p>Price: AED{{lesson.price}}</p>
                            <p>Location: {{lesson.location}}</p>
                            <p>Available spaces: {{lesson.space - cartItemCount}}</p>
                            <button v-on:click="addToCart" v-if="canAddToCart" class="btn btn-block btn-info">
                                <i class="fas fa-cart-plus"></i>
                                Add to cart
                            </button>
                            <button class="btn btn-secondary btn-block disabled" v-else>
                                Out of stock
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="cart">
            <h1 class="">Cart</h1>
            <ul id="cart" class="list-group" style="margin: 0 30% 0 30%;">

            </ul>
        </div>

    </div>


    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: "After School Club",
                lesson: {
                    id: 01,
                    subject: "English",
                    price: 200,
                    location: "Dubai",
                    space: 10,
                    img: "english.jpg"
                },
                cart: [],
                productPage: true,
            },
            methods: {
                addToCart: function () {
                    this.cart.push(this.lesson.id);
                },
                showCheckout() {
                    this.productPage = this.productPage ? false : true;
                }
            },
            computed: { 
                cartItemCount: function () {
                    return this.cart.length;
                },
                canAddToCart: function () {
                    return this.lesson.space > this.cartItemCount;
                }
            }
        })
    </script>
</body>

</html>